@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


*{
    box-sizing: border-box;
    font-family: Montserrat;
}

body {
    background-color: lemonchiffon; 
}

h2 {
    background-color: burlywood;
}

h2:hover {
    background-color: cadetblue;
}

div, table{
    margin: auto;
    width: 50vw;
    text-align: center;
}

table::after {
    content: "";
    clear: both;
    display: table;
}

#contact-botton {
    padding: 10px;
    border-radius: 10px;
    border: 1px solid black;
    display:inline-block
}

#contact-botton:hover {
    cursor: pointer;
}

div::after {
    content: "";
    clear: both;
    display: table;
}


.table-data {
    padding: 10px;
}


.main_pic{
    border-radius: 25px;
    border-image: auto;
    border: 1px solid grey;
}


ul {
    list-style-type: square;
}

ul > li {
    text-align: left;
}

.skills ul {
    list-style-type: none;
    padding: 12px;
}

.skills ul li {
   text-align: center;
}

.education table {
    flex-wrap: wrap;
}

#name:hover {
    background-color: darksalmon;
}

@media only screen and (max-width: 1000px) {
    h2,div, table   {
        width: 100vw;
        overflow: auto;
    }  
}


 @media screen and (max-width:550px) {
    .skills td, .main-header td, img {
      display: grid;
      width: 100vw;
      margin: auto;
    }
  }
  
  
  @media screen and (max-width:550px) {
    .education table {
      content: "";
      clear: both;
      display: table;
      text-wrap: wrap;
    }
  }



  @media screen and (max-width:420px) {
    .skills td {
      display: grid;
      width: 80vw;
      margin: auto;
    }
  } 

